<footer class="w-full bg-primary p-8 text-white">
  <div class="flex flex-row flex-wrap items-center justify-center gap-y-6 gap-x-12 primary text-center md:justify-between">
    <div class="flex flex-wrap items-center gap-y-2 gap-x-8 -mt-[200px] -mb-[100px]">
      <img ngSrc="assets/images/rabbit-assoc-logo-2.png" width="150" height="150" priority alt="RabbitAssocLogo" />
    </div>
    <ul class="flex flex-wrap items-center gap-y-2 gap-x-8">
      <li>
        <a href="#"
           class="py-2 px-3 text-md tracking-wider font-bold block" target="_blank">
          {{ 'component.footer.site' | translate }}
        </a>
      </li>
      <li>
        <a href="https://github.com/LuigiDurso"
           class="py-2 px-3 text-md tracking-wider font-bold block" target="_blank">
          {{ 'component.footer.author' | translate }}
        </a>
      </li>
    </ul>
    <ul class="flex flex-wrap items-center">
      <li class="mx-2">
        <a href="https://www.facebook.com/p/Associazione-La-Tana-Del-Coniglio-100094884123473/" target="_blank"
           class="flex justify-center items-center w-[2rem] h-[2rem] text-base">
          <i class="fab fa-facebook-square" aria-hidden="true"></i>
        </a>
      </li>
<!--      <li class="mx-2">-->
<!--        <a href="https://www.tripadvisor.it/Restaurant_Review-g3697827-d12883460-Reviews-Pub_Pizzeria_Da_Matteo-Aquara_Province_of_Salerno_Campania.html"-->
<!--           target="_blank"-->
<!--           class="flex justify-center items-center w-[2rem] h-[2rem] text-base">-->
<!--          <i class="fab fa-tripadvisor" aria-hidden="true"></i>-->
<!--        </a>-->
<!--      </li>-->
      <li class="mx-2">
        <a href="https://maps.app.goo.gl/yXvdZXi1xSkYxwCZ6"
           target="_blank"
           class="flex justify-center items-center w-[2rem] h-[2rem] text-base">
          <i class="fas fa-map-marked-alt" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
  <hr class="my-8 border-blue-gray-50" />
  <p class="block text-center font-sans text-base font-normal leading-relaxed antialiased">
    © 2024 Luigi Durso
  </p>
</footer>
