<nav class="relative px-4 py-1 flex justify-between items-center">
    <div>
        <img ngSrc="assets/images/rabbit-assoc-logo.png" alt="LogoRabbitAssoc" width="100" height="100">
    </div>
    <div class="hidden mr-10 text-black w-full h-0 lg:w-fit flex-wrap justify-end items-center space-y-8 lg:space-y-0 lg:flex lg:h-fit md:flex-nowrap">
        @for (menuItem of menuItems; track menuItem.name; let idx = $index) {
            <a class="block md:px-4 transition hover:text-gray-600 dark:hover:text-gray-400" href=""
               (click)="selectMenuItem(menuItem, false, $event)">
                <span>{{ 'component.menu.' + menuItem!.name | translate }}</span>
            </a>
            @if ( menuItems.length - 1 !== idx ) {
                <div class="flex text-gray-300">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                         stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0
                               110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
                    </svg>
                </div>
            }
        }
    </div>
    <div class="px-4 cursor-pointer lg:hidden">
        <nav>
            <button class="text-gray-500 w-10 h-10 relative" (click)="onMenuIconClicked()">
                <span class="sr-only">{{ 'component.hamburger-menu.hamburger-icon-rs' | translate }}</span>
                <div class="block w-5 absolute left-1/2 top-1/2   transform  -translate-x-1/2 -translate-y-1/2">
            <span aria-hidden="true"
                  class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out"
                  [ngClass]="{'rotate-45': isMenuOpen,' -translate-y-1.5': !isMenuOpen }"></span>
                    <span aria-hidden="true"
                          class="block absolute  h-0.5 w-5 bg-current   transform transition duration-500 ease-in-out"
                          [ngClass]="{'opacity-0': isMenuOpen } "></span>
                    <span aria-hidden="true"
                          class="block absolute  h-0.5 w-5 bg-current transform  transition duration-500 ease-in-out"
                          [ngClass]="{'-rotate-45': isMenuOpen, ' translate-y-1.5': !isMenuOpen}"></span>
                </div>
            </button>
        </nav>
    </div>
    <section
            [ngClass]="{ 'hidden': !isMenuOpen }"
            class="top-68 justify-center w-full origin-top
              animate-open-menu bg-gray-100 flex-col text-5xl z-30 absolute left-0 top-0">
        <div class="flex justify-end p-5">
            <button class="text-gray-500 w-10 h-10 relative" (click)="onMenuIconClicked()">
                <span class="sr-only">{{ 'component.hamburger-menu.hamburger-icon-rs' | translate }}</span>
                <div class="block w-5 absolute right-1">
                    <span aria-hidden="true" class="block absolute h-0.5 w-5 bg-current rotate-45"></span>
                    <span aria-hidden="true" class="block absolute  h-0.5 w-5 bg-current -rotate-45"></span>
                </div>
            </button>
        </div>
        <div class="flex justify-center">
            <img ngSrc="assets/images/rabbit-assoc-logo.png" alt="LogoRabbitAssoc" width="250" height="250">
        </div>
        <nav class="flex min-h-screen flex-col items-center py-8" aria-label="mobile">
            <ng-container *ngFor="let menuItem of menuItems">
                <a class="w-full py-6 text-center hover:opacity-90" href=""
                   (click)="selectMenuItem(menuItem, true, $event)">
                    <span>{{ 'component.menu.' + menuItem!.name | translate }}</span>
                </a>
            </ng-container>
        </nav>
    </section>
</nav>
<hr class="my-1 border-blue-gray-50" />